exclude .editorconfig
recursive-exclude .github *
recursive-exclude tests *
recursive-include src py.typed
exclude *.yaml
exclude *.yml
include README.md
include LICENSE
recursive-exclude .goose *
exclude Makefile
exclude mypy.ini
exclude requirements.txt
exclude ruff.toml
