name: CI
on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  COLUMNS: "120"
  FORCE_COLOR: "1"
  PYTHONUNBUFFERED: "1"

jobs:
  lint:
    name: Static analysis
    uses: antonagestam/goose/.github/workflows/run.yaml@0.14.2

  check-build:
    name: Check packaging metadata
    uses: less-action/reusables/.github/workflows/python-test-build.yaml@main

  type-check:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pip
          cache-dependency-path: requirements.txt
          check-latest: true
      - name: mypy cache
        uses: actions/cache@v5
        with:
          path: .mypy_cache
          key: "${{ runner.os }}-mypy-3.13-${{ hashFiles('requirements.txt') }}"
          restore-keys: |
            ${{ runner.os }}-mypy-3.13
            ${{ runner.os }}-mypy
      - run: pip install -e .
      - run: pip install -r requirements.txt
      - run: mypy --strict

  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: setup.cfg
          check-latest: true
          allow-prereleases: true
      - run: pip install -e '.[test]'
      - run: coverage run -m pytest -k.py
      - run: |
          coverage report
          coverage xml
      - uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          fail_ci_if_error: true
          name: codecov-py${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true

  test-typing:
    name: Test static types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: pip
          cache-dependency-path: setup.cfg
          check-latest: true
      - run: pip install -e '.[test]'
      - run: pytest -k.yaml
